$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* root font size is set in the html */
/* Common practice is to set html font size to 10px and then use rem everywhere else,
dividing what the px would be by 10 (30px is 3rem) */
/* And then set the font size to a percentage 
(setting it to px is bad practice because it overrides any default size the user has set */
/* We set it to the percentage of the default font size, which is usually 16px (So here we do 10/16) */
html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  // font-size: 16px;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;

  box-sizing: border-box;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
    to right bottom, 
    rgba($color-primary-light, 0.8), 
    rgba($color-primary-dark, 0.8)), 
    url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  height: 3.5rem;
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  /* prevents shaking that sometimes happens with animations */
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;

  /* animation-iteration-count: 3; */
  /* animation-delay: 3s; */
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;

  animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block; /* inline-block elements are treated as text with regard to positioning */
  border-radius: 10rem;
  transition: all .2s; /* transition property has to be on the initial state */
  position: relative;
  font-size: 1.6rem;
}

.btn:hover {
  transform:translateY(-3px);
  box-shadow: 0 1rem 2rem rgba($color-black,.2); /* X direction, Y direction, blur, color */
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 .5rem 1rem rgba($color-black,.2);
}

.btn--white {
  background-color: $color-white;
  color: $color-grey-dark;
}

/* after pseudo-element is treated like a child of the button */
.btn::after {
  content: ""; /* Have to specify content even if its empty or the pseudo-element won't appear */
  display: inline-block; /* Have to specify display too */
  height: 100%; /* (100% of the width of the parent button */
  width: 100%;
  border-radius: 10rem;
  position: absolute; /* Need this to be relative to the parent button, not the header, so need to add position:relative to button */
  top: 0;
  left: 0;
  z-index: -1;

  transition: all .4s;
}

.btn--white::after {
  background-color: $color-white;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6); 
  opacity: 0;
}

.btn--animated {
  animation: moveInButton .5s ease-out .75s;
  animation-fill-mode: backwards; /* Automatically applies properties of animation 0% before it starts */
}